.eggsFinal, .eggsFinal img {
  animation: eggsFinal-spin infinite 10s linear;
  height: 60px;
  pointer-events: auto;
  cursor: grab;
}

.eggsFinal button {
  border: none;
  background-color: rgba(255, 255, 255, 0);
}

@keyframes eggsFinal-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}